.show-container h1{
    font-size: 40px;
    text-align: center;
    
}
.show-subcontainer{
    display: flex;
    justify-content: space-evenly;
   
}
.button-container{
    text-align: center;
    padding: 5px;
    margin-top: 150px;
}
.button-container button{
    padding: 10px;
    border-radius: 15px;
    border: none;
    font-weight: bold;
}
.button-container button:hover{
    box-shadow: 0 0 4px 2px #00001a;
    background: transparent;
    color: #fff;
}